backend/data/*
backend/logs/*
*.env
backend/cmd/server/logs/*
*/uploads/*
backend/cmd/server/uploads/*
backend/internal/ai/logs/app.log
backend/internal/service/uploads/*
.serena/*
*config.yml
backend/cmd/server/data/*
